body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .MuiRadio-colorSecondary.Mui-checked {
  color: rgb(41, 41, 223)!important;
} */

.MuiFormLabel-asterisk {
  color:red!important;
}
/* .MuiInputBase-input {
  text-transform: capitalize!important;
} */
